<app-nav></app-nav>
<html> 
    <body> 
        <h1>Contact us:</h1> 
        <span style="font-size: 22px;"><u>Our Location</u></span> 
        <ul> 
            <li>Nightland Restaurant</li> 
            <li>Tichy to Salem Main Road,</li> 
            <li>Tiruchirappalli,</li> 
            <li>Tamil Nadu 621215</li> 
            <li> 
                <img class="phone" src="https://w7.pngwing.com/pngs/598/408/png-transparent-computer-icons-mobile-phones-phone-miscellaneous-telephone-call-logo-thumbnail.png"> 
                Phone : 8925664346
            </li> 
            <li> 
                <img class="email" src="https://www.citypng.com/public/uploads/preview/hd-letter-email-round-blue-icon-transparent-png-11637141038bsz4tzs1ur.png"> 
                email : abcrestauranttrichy@gmail.com
            </li> 
        </ul>
        <span class="other"><u>Other Branches :</u></span>
        <div class="other-branches">
            <div>
        <ul>
            <li>Nightland Restaurant</li> 
            <li>Thadagam Main Road,</li> 
            <li>Coimbatore,</li> 
            <li>Tamil Nadu 641013</li>
            <li> 
                <img class="phone" src="https://w7.pngwing.com/pngs/598/408/png-transparent-computer-icons-mobile-phones-phone-miscellaneous-telephone-call-logo-thumbnail.png"> 
                Phone : 9876500001
            </li> 
            <li> 
                <img class="email" src="https://www.citypng.com/public/uploads/preview/hd-letter-email-round-blue-icon-transparent-png-11637141038bsz4tzs1ur.png"> 
                email : abcrestaurantcbe@gmail.com
            </li> 
        </ul>
        </div>
        <div>
        <ul>
            <li>Nightland Restaurant</li> 
            <li>No.831, 181, Anna Salai,</li> 
            <li>Triplicane,</li> 
            <li>Chennai,</li>
            <li>Tamil Nadu 600002</li>
            <li> 
                <img class="phone" src="https://w7.pngwing.com/pngs/598/408/png-transparent-computer-icons-mobile-phones-phone-miscellaneous-telephone-call-logo-thumbnail.png"> 
                Phone : 9876500002
            </li> 
            <li> 
                <img class="email" src="https://www.citypng.com/public/uploads/preview/hd-letter-email-round-blue-icon-transparent-png-11637141038bsz4tzs1ur.png"> 
                email : abcrestaurantchennai@gmail.com
            </li> 
        </ul> 
        </div>
        </div>
    </body> 
</html>