<app-nav></app-nav>
<html>
    <body>
        <p>
            "Welcome to Nightland Restaurant, a family-owned and operated establishment that has been serving up delicious cuisines for over 50 years.
             Our restaurant is dedicated to providing our customers with a warm and inviting atmosphere,
              where they can enjoy a meal with friends and family.
        </p>
        <p>
            Our menu features a wide variety of classic <b>Continental, South Indian, North Indian, Chinese</b> dishes,
             made with the freshest ingredients and traditional cooking methods.
             We take pride in our unique blend of flavors and in our commitment to using locally sourced produce whenever possible.
        </p>
        <p>
            Our team, led by <b>Mr.Kathik</b>, brings a wealth of experience and passion to the kitchen.
             We strive to make every meal an experience to remember,
             with attentive service and a commitment to making sure every guest leaves satisfied.
        </p>
        <p>
            We are located in the heart of <b>Tiruchirappalli</b>, and open <b>14 hours</b>.
             Whether you're looking for a casual bite or a special occasion, we look forward to serving you soon!"
        </p>
        <p>
            We take great pride in our menu, which features a wide variety of classic dishes,
            <b>made with the freshest ingredients and traditional cooking methods</b>.
             We believe that using locally sourced produce not only supports the local farming community but also guarantees the best quality and taste.
             Our menu also caters to different dietary needs,
             including vegetarian and gluten-free options.
        </p>
    </body>
</html>

