<app-nav></app-nav>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="top-images">
        <div>
        <img src="https://b.zmtcdn.com/data/pictures/7/3001527/9b25cd2c0534ccd5655af40141b3d60b_featured_v2.png?fit=around|771.75:416.25&crop=771.75:416.25;*,*">
        </div> 
        <div class="container">
            <div class="gallery">
                <img class="mini-img" src="https://b.zmtcdn.com/data/reviews_photos/1e9/58835c0e3ab9d6520947c36657cef1e9_1543943769.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A">
            </div>
            <div class="gallery">
                <img class="mini-img" src="https://b.zmtcdn.com/data/reviews_photos/235/514f520e7b61d16f4ee6e3487ed77235_1535190156.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A">
            </div>
            <div class="gallery">
                <img class="mini-img" src="https://b.zmtcdn.com/data/reviews_photos/ef9/c2636113bd0f7f610bf5958ef09feef9_1541000953.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A">
            </div>
            <div class="gallery">
                <img class="mini-img" src="https://b.zmtcdn.com/data/reviews_photos/a7e/dd4ab66c543b1fff0eb2f20a60f8ca7e_1635840752.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A">
            </div>   
        </div>
        </div>
        <h2 style="color: rgb(86, 0, 184);">Cuisines</h2>
        <ul class="cuisines-ul">
            <li>Continental</li>
            <li>South Indian</li>
            <li>North Indian</li>
            <li>Chinese</li>
        </ul>
        <br>
        <h2 style="color: rgb(86, 0, 184);">People Say This Place Is Known For</h2>
        <p style="font-size: 20px;">Serving Staff, Great Buffet Spread, Table, Food Presentation, Great Portions, Timely Service</p>
        <h3 style="color: rgb(86, 0, 184);">More Info</h3>
        <div class="more-info">
            <div>
            <ul>
                <li>Breakfast</li>
                <li>Wheelchair Accessible</li>
                <li>Indoor Seating</li>
                <li>Valet Parking Available</li>
                <li>Buffet</li>
                <li>Kid Friendly</li>
            </ul>
            </div>
            <div>
            <ul>
                <li>Takeaway Available</li>
                <li>Full Bar Available</li>
                <li>Live Music</li>
                <li>Table reservation required</li>
                <li>4/5 Star</li>
                <li>Brunch</li>
            </ul>
            </div>           
        </div>
        <h2 style="color: rgb(86, 0, 184);">BUFFET & SET MENUS</h2>
        <div class="buffet-menu">
        <div>
        <ul style="list-style-type: none;">
            <h3>Breakfast</h3>
            <li>₹1,150 + Taxes</li>
            <li>7am – 10:20am | Mon-Sun</li>
        </ul>
        </div>
        <div>
        <ul style="list-style-type: none;">
            <h3>Lunch</h3>
            <li>₹1,150 + Taxes</li>
            <li>12:30pm – 3pm | Mon-Sun</li>
        </ul>
        </div>
        <div>
        <ul style="list-style-type: none;">
            <h3>Dinner</h3>
            <li>₹1,200 + Taxes</li>
            <li>7pm – 10:30pm | Mon-Sun</li>
        </ul>   
        </div>     
        </div>
        <div class="brunch-container">
        <h2 class="brunch-h2">Sunday Brunch</h2>
        <div class="brunch">     
        <div>
        <ul style="list-style-type: none;">
            <li>12:30 pm - 03:30 am</li>
            <li>₹1,400 + TAX</li>
            <li>Non Alcohol</li>
        </ul>
        </div>
        <div>
        <ul style="list-style-type: none;">
            <li>₹1,800 + TAX</li>
            <li>Alcohol</li>
        </ul>
        </div>
        </div>
        </div>
    </body>
</html>