<app-nav></app-nav>
<html>
    <body>
        <div class="menu-container">
            <div class="container">
                <h1 style="color: green;">vegetarian</h1>
                <ul class="veg">
                    <li>Idli</li>
                    <li>Dosa</li>
                    <li>Mushroom Dosa</li>
                    <li>Paneer Dosa</li>
                    <li>Baby Corn Dosa</li>
                    <li>Onion Dosa</li>
                    <li>Masal Dosa</li>
                    <li>Roast</li>
                    <li>Plain Roast</li>
                    <li>Ghee Roast</li> 
                    <li>Pongal</li>
                    <li>Veg Meals</li>
                    <li>Chappathi</li>
                    <li>Parotta</li>
                    <li>Curd Rice</li>
                    <li>Tomato Rice</li>
                    <li>Ghee Rice</li>
                    <li>Veg Biriyani</li>
                    <li>Lemon Rice</li>
                    <li>Paneer Rice</li>
                    <li>Mushroom Rice</li>
                    <li>Paneer Gravy</li>
                    <li>Mushroom Gravy</li>
                </ul>
            </div>
            <div class="container">
                <h1 style="color: red;">Non-Vegetarian</h1>
                <ul class="nonVeg">
                    <li>Chicken Soup</li>
                    <li>Mutton Soup</li>
                    <li>Chicken 65</li>
                    <li>Chicken Legs</li>
                    <li>Chicken Wings</li>
                    <li>Fish Fry</li>
                    <li>Kadai Fry</li>
                    <li>Pepper Chicken</li>
                    <li>Grill Chicken</li>
                    <li>Pepper Grill Chicken</li>
                    <li>Chicken Biriyani</li>
                    <li>Mutton Biriyani</li>
                    <li>Fish Biriyani</li>
                    <li>Kadai Biriyani</li>
                    <li>Non-veg meals</li>
                    <li>Chicken Gravy</li>
                    <li>Mutton Gravy</li>
                    <li>Kadai Gravy</li>              
                </ul>
            </div>
            <div class="container">
                <h1 style="color: blue;">Chinese</h1>
                <ul class="chinese">
                    <li>Dim Sums</li>
                    <li>Hot and Sour soup</li>
                    <li>Szechwan Chicken</li>
                    <li>Honey Chilly Potato</li>
                    <li>Veg noodles</li>
                    <li>Mushroom noodles</li>
                    <li>Paneer noodles</li>
                    <li>Szechwan Chicken Rice</li>
                    <li>Veg Fried Rice</li>
                    <li>Chicken Fried Rice</li>
                    <li>Mushroom Fried Rice</li>
                    <li>Paneer Fried Rice</li>
                </ul>
            </div>
        </div>
    </body>
</html>